*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(43, 16, 68);
}

.scoreboard{
    display: flex;
    width: 700px;
    height: 150px;
    border: 2px solid white;
    border-radius: 15px;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
}

.score{
    width: 130px;
    height: 100px;
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    margin-left: 30px;
}

.score h1{
    color: #565468;
    font-size: 50px;
}

.hands{
    background-image: url("triangle.png"); 
    background-repeat: no-repeat;
    background-position: center;
    width: 480px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}

.scissors{
    margin-left: 20px;
}

.paper{
    margin-right: 20px;
}

.rock{
    margin-top: 20px;
}

.hands .hand{
    cursor: pointer;
    transition: all 0.25s;
}

.hands .hand:hover{
    transform: translate3d(0px, -8px, 0px);
}

.contest{
    width: 900px;
    display: none;
    margin-top: 50px;
}

.contest img{
    width: 275px;
    height: 275px;
}

.contest >div{
    flex: 1;
}


.contest h1{
    color: white;
    font-size: 20px;
    margin-bottom: 50px;
    text-align: center;
}

.contest .handImageContainer{
    display: flex;
    justify-content: center;
}

.referee{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.referee h1{
    font-size: 50px;
}
.referee .newGame{
    cursor: pointer;
    height: 50px;
    width: 150px;
    border-radius: 15px;
    transition: 0.25s;
}
.newGame:hover{
    background-color: bisque;
    transform: translate3d(0px, -2px, 0px);
}

